<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Game catalog</title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-4 mt-5">
            <form method="post"
                  th:action="@{/game-catalog/update}">
                <div class="form-group">
                    <label for="name">Játék Módosítása</label>
                </div>
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text"
                           id="id"
                           name="id"
                           readonly
                           class="form-control"
                           th:value="${game.id}"/>
                </div>
                <div class="form-group">
                    <label for="name">Neve</label>
                    <input type="text"
                           id="name"
                           name="name"
                           class="form-control"
                           th:value="${game.name}"/>
                </div>
                <div class="form-group">
                    <label for="release_year">Kiadás éve</label>
                    <input type="number"
                           id="release_year"
                           name="release_year"
                           class="form-control"
                           th:value="${game.release_year}"/>
                </div>
                <div class="form-group">
                    <label for="publisher">Kiadó</label>
                    <input type="text"
                           id="publisher"
                           name="publisher"
                           class="form-control"
                           th:value="${game.publisher}"/>
                </div>
                <div class="form-group">
                    <label for="studio">Stúdió</label>
                    <input type="text"
                           id="studio"
                           name="studio"
                           class="form-control"
                           th:value="${game.studio}"/>
                </div>
                <div class="form-group">
                    <label for="genre">Műfaj</label>
                    <input type="text"
                           id="genre"
                           name="genre"
                           class="form-control"
                           th:value="${game.genre}"/>
                </div>
                <div class="form-group">
                    <label for="game_time">Játék idő</label>
                    <input type="number"
                           id="game_time"
                           name="time"
                           class="form-control"
                           th:value="${game.game_time}"/>
                </div>
                <div class="form-group">
                    <label for="storage_space">Tárhely</label>
                    <input type="number"
                           id="storage_space"
                           name="storage_space"
                           class="form-control"
                           th:value="${game.storage_space}"/>
                </div>
                <button class="btn btn-primary"
                        type="submit">Módosít
                </button>
                <a th:href="@{/game-catalog}"
                   class="btn btn-secondary"
                   type="submit">Vissza a listához</a>
            </form>
        </div>
    </div>

</div>

<script>

</script>

</body>
</html>