<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Játékok listája</title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">

    <h3 class="pt-5">Játékok listája</h3>

    <a th:href="@{'/game-catalog/create'}"
       type="button"
       class="btn">Új hozzáadása</a>

    <table class="table table-striped pt-5">
        <caption>Játékok listája</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Neve</th>
                <th scope="col">Kiadás éve</th>
                <th scope="col">Kiadó</th>
                <th scope="col">Stúdió</th>
                <th scope="col">Műfaj</th>
                <th scope="col">Játék idő</th>
                <th scope="col">Tárhely (MB)</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="game: ${games}">
            <th scope="row"
                th:text="${game.id}"></th>
            <td th:text="${game.name}"></td>
            <td th:text="${game.release_year}"></td>
            <td th:text="${game.publisher}"></td>
            <td th:text="${game.studio}">
            <td th:text="${game.genre}">
            <td th:text="${game.game_time}">
            <td th:text="${game.storage_space}">

            <td>
                <a th:href="@{'/game-catalog/' + ${game.id}}"
                   type="button"
                   class="btn btn-warning">Szerkesztés</a>
                <a th:href="@{'/game-catalog/' + ${game.id} + '/delete'}"
                   type="button"
                   class="btn btn-danger">Törlés</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>

</script>

</body>
</html>